<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="nav">
      <ul>
        <div id="nav_elements">
          <li id="profile_image">Profile Image</li>
          <li id="nav_route">Build Menu</li>
          <li id="nav_route">Create Recipe</li>
          <li id="nav_route">Friends</li>
          <li><%= link_to "Log Out", logout_path, method: :delete %></li>
        </div>
      </ul>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="user_content">
                    HIIIIIIIIIIII
    </div>
  </div>
</div>
