// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid{
  height: 100%;
}

.row {
  height: 100%;
}

ul {
  height: 100%;
  list-style-type: none;
}

#nav {
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100%;
    background-color: #42f465;
}

#profile_image {
  height: 20%;
}


#nav_elements {
    height: 100%;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#nav_route {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

#nav_route:hover {
    background-color: #555;
   color: white;
}

#user_content {
  width: 80%;
  height: 100%;
  text-align: center;
}

html, body {
height: 100%;

}
